{% verbatim %}
<a href="#" class="sidebar-menu-account-header">
    <div class="pull-left image">
        <img class="img-circle" alt="User Image" src="{{ account.picture }}">
    </div>
    <span>{{ account.name }}</span> <i class="fa fa-angle-left pull-right"></i>
</a>
<ul class="treeview-menu">
    <li ng-repeat="board in account.boards">
        <a href="/dashboard/board/{{ board.name | slugify }}/{{ board.id }}"><i class="fa fa-circle-o"></i> {{ board.name }}</a>
    </li>
</ul>
{% endverbatim %}